DEHYDRATED_USER=dehydrated
DEHYDRATED_GROUP=dehydrated
IP_VERSION=4
CA="letsencrypt"
# CA="https://acme-staging-v02.api.letsencrypt.org/directory"
CHALLENGETYPE="http-01"
BASEDIR=/etc/dehydrated
DOMAINS_TXT="${BASEDIR}/domains.txt"
CERTDIR="${BASEDIR}/certs"
ACCOUNTDIR="${BASEDIR}/accounts"
WELLKNOWN="/var/www/dehydrated"
KEYSIZE="4096"
HOOK=/usr/local/bin/dehydrated-hook.sh
RENEW_DAYS="30"
PRIVATE_KEY_RENEW="no"
KEY_ALGO=secp384r1
CONTACT_EMAIL={{ acme_contact_email }}
OCSP_MUST_STAPLE="no"
OCSP_FETCH="no"
CHAINCACHE="${BASEDIR}/chains"
AUTO_CLEANUP="no"
API=auto
